<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Program Record Entry</title>
	<link rel="stylesheet" href="../styles/currentAttendance.css" />
	<link rel="stylesheet" href="../styles/header.css" />
	<link rel="stylesheet" href="../styles/footer.css" />
	<link rel="stylesheet" href="../styles/tableDesign.css" />

	<script src="../scripts/currentAttendanceUP.js"></script>
	
</head>

<body>
	<%- include('../partials/header.ejs')%>

		<div class="entry">
			<div class="entry1">
				<!-- code for archive record -->

	<%- include('../partials/archive.ejs')%>

				<!--	code for current date attendance list	-->

				

				<div class="search">
					<div class="search1">
						<table class="attendance-table">
							<thead><tr>
								<th>Roll_No</th>
								<th>Student name</th>
								<th>Date</th>
								<th>Remarks</th>
							</tr></thead>
							<tbody>
							
							
								<tr>
									<td> 
										<%= updatedData.class_no %>
									</td>
									<td> 
										<%= updatedData.student_name %>
									</td>
									<td>
										<%= updateDate %>
									</td>
									<td class="status">
										<%= updatedData.status %>
									</td>
									
								</tr>
							
							</tbody></table>
							<input type="hidden" name="psfid" value="<%=psfid%>">
					</div>
				</div>

			</div>
		</div>

		<%- include('../partials/footer.ejs')%>
			<script src="../scripts/dashboardScript.js">
			</script>

</body>

</html>