<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Program Record Entry</title>
	<link rel="stylesheet" href="../styles/currentAttendance.css" />
	<link rel="stylesheet" href="../styles/header.css" />
	<link rel="stylesheet" href="../styles/footer.css" />
	<script src="../scripts/js/jspdf.min.js"></script>
	<script src="../scripts/js/my1.js"></script>
	<script src="../scripts/currentAttendanceUP.js"></script>
	
</head>

<body>
	<%- include('../partials/header.ejs')%>

		<div class="entry">
			<div class="entry1">
				<!-- code for archive record -->

		<%- include('../partials/archive.ejs')%>

				<!--	code for current date attendance list	-->

				<div class="fbar">
					<%=locals.msg%>
				</div>
				<div id="month" class="subject-head"><%= locals.date %>  </div>
				<div class="search">
					<div class="search1">
						<div id="discipline"><%=classData[0].program_name %> - <%=classData[0].class_name%> - <%= classData[0].section_name%></div>
						<button onclick="printpdf()" id="pdfButton">Download as PDF</button>
						<table id="myTable">
							<thead>
								<tr>
									<td>S.No</td>
									<td>Class.No</td>
									<td>Student Name</td>
									<td>Status</td>
								</tr>
							</thead>
							
							 
							<% classData.forEach((row, index)=> { %>
								<tbody>
									<tr>
										<td>
										<%=index+1%>
									</td>
									<td>
										<%=row.inter_bs%> - <%=row.class_no%> - <%=row.enroll_year%>
									</td>
									
									<td>
										<%=row.student_name%>
									</td>
									<td>
										<%= row.status %>
									</td>
									
								</tr>
								</tbody>
								<%})%>
							</table>
							
					</div>
				</div>

			</div>
		</div>

		<%- include('../partials/footer.ejs')%>
			<script src="../scripts/dashboardScript.js">
			</script>

</body>

</html>