<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Program Record Entry</title>
	<link rel="stylesheet" href="../styles/currentAttendance.css" />
	<link rel="stylesheet" href="../styles/header.css" />
	<link rel="stylesheet" href="../styles/footer.css" />
	<link rel="stylesheet" href="../styles/tableDesign.css" />

	<script src="../scripts/currentAttendanceUP.js"></script>
	
</head>

<body>
	<%- include('../partials/header.ejs')%>

		<div class="entry">
			<div class="entry1">
				<!-- code for archive record -->

	<%- include('../partials/archive.ejs')%>

				<!--	code for current date attendance list	-->

				<div class="fbar">
					<%=classData[0].program_name %> - <%=classData[0].class_name%> - <%= classData[0].section_name%>
				</div>

				<div class="search">
					<div class="search1">
						<form action="/markPreviousAttendance/save" method="post">
							Select Date: <input class="selectdate" id="selectdate" type="date" value="" name="selectdate" > 
							<input type="submit" value="save" id="savebutton" name="save"><br>
						<table>
							
							<thead><tr>
								<td>S.No</td>
								<td>Roll_No</td>
								<td>Student Name</td>
								<td>Status</td>
								<td>remarks</td>
							</tr></thead>
							<tbody>
							
							<% classData.forEach((row, index)=> { %>
								<tr>
									<td>
										<%=index+1%> - <%= row.enrollment_id %>
									</td>
									<td> 
										<%=row.inter_bs%> - <%=row.class_no%> - <%=row.year%>
									</td>
									<td>
										<%=row.student_name%>
									</td>
									<td>
										<button 
											type="button" 
											data-enrollment="<%= row.enrollment_id %>"   
											onclick="toggleAttendance(this)"  
											value="A">A
										</button>
										<input type="hidden" name="attendance[<%= row.enrollment_id %>]" value="A">
										
										</td>
									<td></td>
									
								</tr>
								<%})%>
							</tbody></table>
							<input type="hidden" name="psfid" value="<%=psfid%>">
							</form>	
					</div>
				</div>

			</div>
		</div>

		<%- include('../partials/footer.ejs')%>
			<script src="../scripts/dashboardScript.js">
			</script>

</body>

</html>