<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Program Record Entry</title>
	<link rel="stylesheet" href="../styles/monthlyAttendance.css" />
	<link rel="stylesheet" href="../styles/header.css" />
	<link rel="stylesheet" href="../styles/footer.css" />

	<script src="../scripts/currentAttendanceUP.js"></script>
	
</head>

<body>
	<%- include('../partials/header.ejs')%>

		<div class="entry">
			<div class="entry1">
				<!-- code for archive record -->

			<%- include('../partials/archive.ejs')%>

				<!--	code for current date attendance list	-->

				<div class="fbar">
					</div>

				<div class="search">
					<div class="search1">
						
						<table>
							<input type="submit" value="save" id="savebutton" name="save"><br>
							<thead><tr>
								<td></td>
								<% days.forEach(row=> { %>
                                    <td class="date-head">
										<%= row.day %>
									</td> 
                                    
                                <%})%>
							</tr></thead>
							<tbody>
							<% rowsData.forEach(row=> { %>
                                    <tr>
										<td>
											<%= row.class_no %>
										</td> 
										<% rowDates.forEach(d=> { %>
											<td>
													<%= row[d]%>
											</td>
										<%})%>
									</tr>
                                    
                                <%})%>
							</tbody></table> 
					</div>
				</div>

			</div>
		</div> 

		<%- include('../partials/footer.ejs')%>
			<script src="../scripts/dashboardScript.js">
			</script>

</body>

</html>