<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Program Record Entry</title>
	<link rel="stylesheet" href="../styles/monthlyAttendance.css" />
	<link rel="stylesheet" href="../styles/header.css" />
	<link rel="stylesheet" href="../styles/footer.css" />
	<link rel="stylesheet" href="../styles/tableDesign.css" />
	<script src="../scripts/js/jspdf.min.js"></script>
	<script src="../scripts/js/my1.js"></script>

	<script src="../scripts/currentAttendanceUP.js"></script>
	
</head>

<body>
	<%- include('../partials/header.ejs')%>

		<div class="entry">
			<div class="entry1">
				<!-- code for archive record -->

			<%- include('../partials/archive.ejs')%>

				<!--	code for current date attendance list	-->

				<div id="month" class="subject-head"><%= locals.forMonth %>  </div>
				<div id="discipline" class="subject-head"><%= locals.pname %> -- <%= locals.cname %> -- <%= locals.sname %>  </div>

				<div class="search">
					<div class="search1">
						<button onclick="printpdf()" id="pdfButton">Download as PDF</button><br>
						<table id="myTable">
							
							<thead><tr>
								<td></td>
								<% days.forEach(row=> { %>
                                    <td class="date-head">
										<%= row.day %>
									</td> 
                                    
                                <%})%>
								<th>Total Classes</th>
								<th>Perc%</th>
							</tr></thead>
							<tbody>
							
							<% rowsData.forEach(row=> { %>
                                    <tr>
										<td>
											<%= row.class_no %>
										</td> 
										<% rowDates.forEach(d=> { %>
											<td class="redA">
													<%= row[d]%>  <!-- d is "0000-00-00", rowsData["0000-00-00"]=P or A or L-->
											</td>
										<%})%>
										<td>
											P=<%= row.totalPresent %>, A=<%= row.totalAbsent %>, L=<%= row.totalLeave %>, T=<%= row.total %>
										</td>
										<td>
											<%= row.percentage%> %
										</td> 
									</tr>
                                    
                                <%})%>
							</tbody></table> 
					</div>
				</div>

			</div>
		</div> 

		<%- include('../partials/footer.ejs')%>
			<script src="../scripts/dashboardScript.js">
			</script>

			

</body>

</html>